<div class="full-wrapper">
  <div class="video-container">
    <div class="wrapper">
      <div #localPlayerContainer class="local">
        <div class="user" style="border-right:1px solid red;" *ngIf="!channelParameters.localVideoTrack?.enabled">
          {{channelParameters.localUid}}
        </div>
      </div>
      <div #remotePlayerContainer class="remote">
        <div class="user" style="border-left:1px solid red;" *ngIf="!channelParameters.remoteUser?.hasVideo">
          {{ channelParameters.remoteUser ? channelParameters.remoteUser.uid : "waiting for others to join !!"}}
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <!-- this 2 buttons should be removed  -->
      <!-- call join function in after view init in docshub -->
      <button (click)="join(1)">Join 1</button>
      <button (click)="join(2)">Join 2</button>
    <button (click)="muteOrUnmuteAudio()">{{channelParameters.localAudioTrack?.muted ? "Unmute" : "Mute"}}</button>
    <button (click)="turnCameraOnOrOff()">Camera {{channelParameters.localVideoTrack?.enabled ? "Switch OFF" : "Switch ON"}}</button>
    <button (click)="leave()">Leave</button>
    </div>
  </div>
</div>
